body {
    background-color: rgb(66, 39, 23)
}

h1 {
    text-align: center;
    color: rgb(184, 134, 73);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    background-color: blanchedalmond
}

main {
    background-color: rgba(139, 101, 50, 0.548)
}